.container{
    display: flex;
    justify-content:space-between;
}

.vetor1{
    position:fixed;
    width: 1000px;
    height: 120px;


}
.vetor2{
    right: 0;
    position:fixed;
    height:700px;
    width: 200px;

}
.bolinhasRosa{
    position: fixed;
    top: 280px;
    left: 150px;
}